In [1]:
import pandas as pd
import numpy as np

In [2]:
def gen_football_team(n_players, mean_shoe, mean_jersey):
    shoes_sizes = np.random.normal(size =n_players, loc = mean_shoe, scale = .15*mean_shoe)
    jersey_sizes = mean_jersey/mean_shoe * shoes_sizes + np.random.normal(scale = .05*mean_jersey, size = n_players)
    
    return shoes_sizes, jersey_sizes

In [4]:
players =  ['Ronaldinho', 'Pele', 'Lionel Messi', 'Zinedine Zidane', 'Didier Drogba', 'Ronaldo', 'Yaya Toure', 
           'Frank Rijkaard', 'Diego Maradona', 'Mohamed Aboutrika', "Samuel Eto'o", 'George Best', 'George Weah', 
           'Roberto Donadoni']

shoes, jerseys = gen_football_team(len(players), 10, 100)

df = pd.DataFrame({'shoe_size': shoes, 'jersey_size': jerseys}, index = players)

In [5]:
df.head()

                 shoe_size  jersey_size
Ronaldinho       11.275251   112.855290
Pele              9.040880    85.915023
Lionel Messi      8.256827    84.576688
Zinedine Zidane  11.045846   105.112960
Didier Drogba     9.255099    88.046014

In [6]:
df.shape

(14, 2)

In [7]:
df.describe()

       shoe_size  jersey_size
count  14.000000    14.000000
mean   10.103968   102.320242
std     1.284053    15.521368
min     8.256827    82.216595
25%     9.094435    88.935013
50%     9.825962   102.550222
75%    11.132880   113.826277
max    12.269690   128.914877

In [8]:
print(df.loc['Ronaldo'])

shoe_size       11.614850
jersey_size    116.036877
Name: Ronaldo, dtype: float64

In [9]:
#this was how to retrieve a column

In [10]:
#to retrieve position based or index based row

In [11]:
print(df.iloc[:5])

                 shoe_size  jersey_size
Ronaldinho       11.275251   112.855290
Pele              9.040880    85.915023
Lionel Messi      8.256827    84.576688
Zinedine Zidane  11.045846   105.112960
Didier Drogba     9.255099    88.046014

In [12]:
#adding a new column to dataframe

df['position'] = np.random.choice(['goaltender', 'defense', 'midfield', 'attack'], size = len(df))

In [14]:
df.head(12)

                   shoe_size  jersey_size    position
Ronaldinho         11.275251   112.855290  goaltender
Pele                9.040880    85.915023  goaltender
Lionel Messi        8.256827    84.576688  goaltender
Zinedine Zidane    11.045846   105.112960      attack
Didier Drogba       9.255099    88.046014  goaltender
Ronaldo            11.614850   116.036877    midfield
Yaya Toure         12.269690   125.985706     defense
Frank Rijkaard      9.034168    91.970966     defense
Diego Maradona     10.269487   103.909459      attack
Mohamed Aboutrika  11.159176   128.914877    midfield
Samuel Eto'o        8.494729    82.216595  goaltender
George Best         9.382438   101.190984     defense

In [15]:
#adding a new row
df.loc['Dylan'] = {'jersey_size':95, 'shoe_size':11, 'position':'midfield'}

In [16]:
df.loc['Dylan']

shoe_size            11
jersey_size          95
position       midfield
Name: Dylan, dtype: object